.catalogue-main{
   
  

    
}
.main-container{
    display: grid;
    grid-template-columns:4fr 1fr;

}
.product-part{

    
}
.cart-part{
    width: 100%;
    background-color: #F8F3EC;
    
    
}